.team { 
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
    padding: 0px 0px 0px 20px; 
    position: relative; 
    width: fit-content;
} 

.photo { 
    height: 216px; 
    min-width: 216px;
}

.ellipse-4 { 
    height: 108px;
    left: 0;
    position: absolute;
    top: 0;
    width: 216px; 
} 

.ellipse-5 { 
    height: 108px; 
    left: 0; 
    position: absolute; 
    top: 108px; 
    width: 216px;
}

.photo-1 { 
    height: 166px; 
    left: 25px; 
    position: absolute; 
    top: 25px; 
    width: 166px;
}